<div>
  <%= render 'tabela_livros', 
        colecao: @ultimos_adicionados, 
        titulo: t('.ultimos_adicionados'), 
        vazio: t('.ultimos_adicionados_vazios') %>
</div>

<div class="separaDivs">
  <div class="col-md-6">
    <%= render 'tabela_livros', 
          colecao: @ultimos_lidos,
          titulo: t('.ultimos_lidos'),
          vazio: t('.ultimos_lidos_vazio') %>
  </div>

  <div class="col-md-6">
    <%= render 'tabela_autores', 
          colecao: @ultimos_autores,
          titulo: t('.ultimos_autores'),
          vazio: t('.ultimos_autores_vazio') %>
  </div>
</div>