<% if flash[:alert] %>
  <div id="alertNotice">
    <p class="bg-warning"><%= flash[:alert] %></p>
  </div>
<% end %>

<% if flash[:success] %>
  <div id="successNotice">
    <p class="bg-success"><%= flash[:success] %></p>
  </div>
<% end %>