/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

body{
  background:#CFCFCF;
}

.bg-autores{
  background:#00688B;
  color:#fff;
}

.bg-livros{
  background:#008B8B;
  color:#fff;
}

h1, 
h1 a, 
h1 a:hover{
  font:70px 'Berkshire Swash', Helvetica, sans-serif; 
  color:#428bca;
  text-decoration: none;
}

h1.logoHome{
  float:left;
  width:100%;
  text-align:center;
}

#container{
  width:998px;
  margin:0 auto;
}

#container.logoHome{
  margin-top:10%;
}

.separaDivs{
  float:left;
  width:100%;
  padding:30px 0px 0px 0px;
}

ul, ul li{ 
  list-style-type: none; 
}

/* BOX LOGIN */
#boxLogin{
  width:400px;
  margin:0 auto;
  background:#EFEFEF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#boxLogin ul{
  width:100%;
  padding:15px 0px 5px 0px;
}

#boxLogin ul li{
  width:96%;
  padding:0px 0px 10px 15px;
}

#boxLogin ul li#btLogin{
  text-align:right;
}
/* /  BOX LOGIN */

/* MENU TOPO */
#menuTopo{
  float:left;
  width:100%;
  padding:15px 0px;
}

#menuTopo ul{
  float:left;
  width:100%;
  padding:0px;
  background:#4F4F4F;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#menuTopo ul li{
  float:left;
  width:25%;
  height:40px;
}

#menuTopo ul li a{
  float:left;
  width:100%;
  text-align:center;
  padding:10px 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color:#7EC0EE;
  font-family:'Prelo';
  font-size:16px;
  text-decoration:none;
  font-weight:bold;
}

#menuTopo ul li a:hover{
  background:#EFEFEF;
  color:#104E8B;
}
/* / MENU TOPO */