// Place all the styles related to the book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#grupoNotas{
  display:none;
}

.searchBox{
  float:left;
  width:100%;

  #searchField{
    float:left;
    width:90%;
    margin:0px 10px 0px 0px;
  }
}